<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:include="header :: head">
		<meta charset="utf-8">
	</head>
	<body>
		<div class="container">
			<img th:src="@{/images_upload/default.jpg}" height="100" width="100"
				class="img-responsive pull-right">
			<h1>Cadastro de Marca</h1>
			<div class="form-group">
				<a href="/"><h3>voltar</h3></a>
			</div>

			<form action="salvar" method="post">
				<div class="form-group">
					<br>
					<label>Marca</label>
					<input type="text" class="form-control" id="descricao" name="descricao" th:value="${marca.descricao}"/>
					<br>
					<input type="hidden" id="id" name="id" th:value="${marca.id}" th:if="${marca != null}">
				</div>
				<button type="submit" class="btn btn-primary">Salvar</button>
			</form>

		<div th:include="footer :: copy"></div>
	</div>
	</body>
</html>